Source: libretro-fba
Section: otherosfs
Priority: extra
Maintainer: Sérgio Benjamim <sergio_br2@yahoo.com.br>
Build-Depends: debhelper (>= 9), zlib1g-dev
Standards-Version: 3.9.5
Homepage: http://www.barryharris.me.uk/fba.php
Vcs-Git: git://github.com/libretro/fba-libretro.git
Vcs-Browser: https://github.com/libretro/fba-libretro

Package: libretro-fba
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libretro-fba-cps1,
         libretro-fba-cps2,
         libretro-fba-neogeo
Description: Transitional package for Final Burn Alpha
 This is a transitional dummy package for Final Burn Alpha to whom comes from
 hunterks PPA. It can safely be removed.

Package: libretro-fba-cps1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libretro-core-info
Description: Libretro wrapper for Final Burn Alpha CPS1 core
 This wrapper makes Final Burn Alpha API compatible with libretro, thus allowing
 its use with libretro frontends, such as RetroArch.
 .
 This package provides the CPS1 core from Final Burn Alpha.

Package: libretro-fba-cps2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libretro-core-info
Description: Libretro wrapper for Final Burn Alpha CPS2 core
 This wrapper makes Final Burn Alpha API compatible with libretro, thus allowing
 its use with libretro frontends, such as RetroArch.
 .
 This package provides the CPS2 core from Final Burn Alpha.

Package: libretro-fba-neogeo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libretro-core-info
Description: Libretro wrapper for Final Burn Alpha Neo Geo core
 This wrapper makes Final Burn Alpha API compatible with libretro, thus allowing
 its use with libretro frontends, such as RetroArch.
 .
 This package provides the Neo Geo core from Final Burn Alpha.
