#!/usr/bin/make -f

# See issue #2 in github (libretro/libretro-fba)
export DEB_CXXFLAGS_MAINT_STRIP=-O2 -Werror=format-security
export DEB_CFLAGS_MAINT_STRIP=-O2 -Werror=format-security
#export DEB_CXXFLAGS_MAINT_APPEND=-Wno-error
#export DEB_CFLAGS_MAINT_APPEND=-Wno-error

ARCH=$(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(ARCH),armhf)
	# performance profile is for CPS-3
	ARM=platform="armv hardfloat" profile=performance
endif

%:
	dh $@ --parallel

override_dh_auto_build:
	dh_auto_build -- -f makefile.libretro $(ARM)

override_dh_auto_clean:
	dh_auto_clean -- -f makefile.libretro clean
